@import "assets/styles/variables"; 

.page-nav {
    color: $color-tertiary;
    width: 100%;
    font-size: 14px;
    
    &__arrows__right {
        margin-left: 30px;
    }

    &__arrows__right:hover, &__arrows__left:hover {
        transform: scale(1.5,1.5); 
        cursor: pointer; 
    }

    &__rows-selector__button {
        appearance: none; 
        background-image: url("../../../../assets/images/down.png");
        padding: .5em;
        padding-right: 1.5em;
        background-position: right 50%;
        background-repeat: no-repeat;
        border: transparent; 
        background-color: $color-primary;
    }
}