@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/variables";

.student {
  width: 100%;
  height: 50px;
  margin-bottom: 11px;
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(114, 75, 203, 0.06);
  border-radius: 7px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.03em;
  padding-top: 18px;
  padding-bottom: 17px;
  
  &__property {
    margin: 0; 
    padding: 0;
    color: $color-tertiary;  
  }
  &__name {
    font-weight: 600; 
    font-size: 10px;
    letter-spacing: 0.03em;
    color: $color-quaternary; 
  }
  &__right-arrow {
    text-align: right;
    &__icon {
      width: 7.42px;
      height: 12px; 
      margin-right: 30px; 
    }
  }
  &__right-arrow__icon:hover {
    transform: scale(1.5,1.5); 
  }
}
.student:hover{
  cursor: pointer;
  box-shadow: 3px 3px 3px $color-secondary;
}
.student-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    &__card{
      min-width: 215px;
      min-height: 215px;
      border: transparent;
      background: #FFFFFF;
      border-radius: 7px;
      box-shadow: 0px 30px 30px rgba(114, 75, 203, 0.06);
      &__img{
        width: 111px;
        height: 111px;
        border-radius: 90%;
        border: transparent;
      }
      &__name{
        font-family: $font-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: $color-secondary;
    }
    &__email{
      font-family: $font-primary;
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: 0.03em;
      color: $color-tertiary;
    }
  }
}