@use "../../../assets/styles/variables" as *;
@import "../../../assets/styles/typography";

.projects{width: 95%;}

h2 {font-weight: 700;}
h5, h6 {font-weight: 600;}

.additional-notes, .review, .challenge-brief, .overview-buttons {
    background-color: white;
    border-radius: 7px;
}

p, li {color: #95ACCB; font-size: 13px;}

.additional-notes {
    max-height: 390px;

    &-input {
        box-shadow: 0px 30px 40px 0px #724BCB0F;
        border: 1px solid lightgray;
        width: 100%;
        border-radius: 7px;
        margin: 0 auto;

        .btn-plus {
            font-size: larger;
            background: none;
            font-weight: 0;

            &:hover, &:focus, &:active {
                border: none; 
                background: none; 
                outline: none;
                color: #95ACCB;
            }
        }

        input {
            border: none;
            color: #95ACCB;

            
            &[type="text"] {
                color: #95ACCB;
                font-size: 12px;
            }
        }
    }

    &__output {font-size: 12px;}
}

.review {
    height: 120px;
    max-height: 390px;
    overflow-y: auto;
}

.challenge-brief {
    height: 390px;
    overflow-y: auto;
}

.overview {
    &-buttons {
        height: 55px;
        
        button {
            font-size: 10px;
            width: 50%;
            height: 40px;
        }
    }
}

.heading-label {
    font-weight: 600; 
}