@use "../../../assets/styles/_typography" as *; 
@import "../../../assets/styles/variables";
a{
  text-decoration: none;
}
.studentList {
  width: 100%;
  margin-bottom: 8px; 
  font-family: $font-primary;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #595959;
}
.nostyling{
  width: 100%; 
  background-color: $color-primary;
}
.student-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
}

.hider{
  display: none;
}