.page-nav{
    width: 100%;
    font-size: 14px;
    padding: 0; 
    margin: 0; 
    &__rows-selector {
        text-align: center;
        &__label {
            padding: 0; 
            margin: 0; 
        }
        &__button {
            padding: 0; 
            margin: 0;
            &-icon, &-value {
                padding: 0; 
                margin: 0;
                margin-left: 5px;  
            } 
        }
    } 
    &__arrows {
        text-align: right;
        padding: 0; 
        &__right {
            margin-left: 30px;  
        }
    }
    &__rows-of-total{
        padding: 0;
        text-align: right;
        &__text {
            margin: 0;
            padding: 0;  
        }
    }
}