.search-bar {
  width: 100%; 
  margin-bottom: 27px; 
  &__input {
    background-image: url("../../../assets/images/search.png");
    background-repeat: no-repeat;
    background-size: 12.67px 12.67px;
    background-position: 97% center;
  }
  &__heading {
    padding: 0px; 
    margin: 0px; 
  }
}