@use "../../assets/styles/variables" as *;

.projects {
    margin: 0 100px;
    &__header {
    // background-color: white;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-button Button {
       margin-left: 20px; 
    }
    }
    &__overview {
        Card {
            
        }
    }
    
}