@use "../../../../assets/styles/_typography" as *; 

a{
  text-decoration: none;
}
.student-table {
  width: 100%;
  margin-bottom: 8px; 
  font-family: $font-primary;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #595959;
}

.student-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  grid-row-gap: 18px; 
  justify-content: space-between;
  align-items: center;
}
.hide-student-table-labels {
  display: none;
}