@import "./assets/styles/styles.scss";
.app {
    border: black 1px solid;
    width: 100vw;
    height: 100vh;
    .placeholderNavbar{
        border: 1px solid black;
        height: 100%;
        width: 20%;  
    }
    .students {
        height: 100%;
        width: 80%; 
    }
}