@import "_variables.scss";

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.btn-primary {
    background-color: $accent;
    color: white;
}

.btn-secondary {
    background-color: white;
    color: $accent;
    border: $accent solid 2px;
}

.btn-upload{
    background-color: #f5f5f5;
}