@import "_variables.scss";

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
}

// .btn-primary {
//     background-color: $accent-primary;
//     color: $color-primary;
// }

.btn-secondary {
    background-color: $accent-secondary;
    color: $color-secondary;
}

.btn-primary {
    width: 130px;
    height: 50px;
    background: $accent-primary;
    border-radius: 7px;
    color: white;
}

.btn-tertiary {
    background-color: $color-primary;
    color: $accent-primary;
}


.btn-secondary, .btn-secondary:hover{
    background-color: white;
    color: $accent-primary;
    border: $accent-primary solid 2px;
}

.btn-upload {
    background-color: #f5f5f5;
    border: 1px solid $accent-primary;
    font-weight: 600; 
    color: black;
    font-size: 12px; 
}

.btn-quaternary .violet {
    background-color: #Ebebf5;
    color: $accent-primary;
}

.btn-back{
    width: 130px;
    height: 50px;
    background: white;
    border-radius: 7px;
    color: $accent-primary;
    border: 1px solid $accent-primary;
}