@import "_variables.scss";

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
}

// .btn-primary {
//     background-color: $accent-primary;
//     color: $color-primary;
// }

.btn-secondary {
    background-color: $accent-secondary;
    color: $color-secondary;
}

.btn-primary {
    width: 130px;
    height: 50px;
    background: $accent-primary;
    border-radius: 7px;
    color: white;
}

.btn-tertiary {
    background-color: $color-primary;
    color: $accent-primary;
}