@import "./typography.scss";

.form-input {
  width: 350px;
  height: 50px;
}

.form-container {
  height: 658px;
  width: 918px;
  background: #FFFFFF;
  box-shadow: 0px 30px 30px rgba(114, 75, 203, 0.06);
  border-radius: 7px;
  font-family: 'Poppins';
}

.form-button{
  height:50px;
  width: 168px;
}

.student-thumbnail {
  height: 270px;
  width: 350px;
  border: 1px solid #E2e8f0;
  border-radius: 7px;
}

.upload-btn {
  background: #F5F5F5;
  border-radius: 7px;
  height: 40px;
  width: 145px;
}

.text-danger{
  font-size: small;
}
