// For more customisations... Go over to https://getbootstrap.com/docs/5.0/customize/sass/
$color-primary: #F8F8FF;
$color-secondary: #102B3F;
$accent-primary: #724BCB;
$accent-secondary: #2FF596;
$text-grey: #95ACCB;


$nav-background: #102B3F;
$color-tertiary: #95ACCB; 
$color-quaternary: #2D3748;
$accent-primary: #724BCB;
$accent-secondary: #2FF596;

$danger: #EE2C43;

$font-family-sans-serif: "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-serif:      "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-monospace:  "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";
$font-family-base:       "Nunito, Helvetica Neue, Tahoma, Arial, San-Serif";

