@import "./typography.scss";

.form {
  &__input {
    width: 70%;
    height: 50px;
  }


  &__container {
    height: 750px;
    width: 918px;
    background: #ffffff;
    box-shadow: 0px 30px 30px rgba(114, 75, 203, 0.06);
    border-radius: 7px;
    font-family: 'Poppins';
    &.project-review-form {
      width: 918px;
      height: 565px;
    }
  }

  &__button-cancel {
    width: 168.385px;
    height: 50px;
    background: white;
    border-radius: 7px;
    color: $accent-primary;
    border: 1px solid $accent-primary;
    margin-right: 13.82px;
    margin-left: 0px;
  }

  &__button-save {
    width: 168.385px;
    height: 50px;
    background: $accent-primary;
    border-radius: 7px;
    color: white;
    border: 1px solid transparent;
  }
}

.form-control:focus {
  box-shadow: none;
}

.student-thumbnail {
  height: 270px;
  width: 350px;
  border: 1px solid #e2e8f0;
  border-radius: 7px;
}

.upload-btn {
  background: #f5f5f5;
  border-radius: 7px;
  height: 40px;
  width: 145px;
}

.text-danger {
  font-size: small;
}

.project-form-input {
  height: 50px;
  width: 90%;
  border: 1px solid #e2e8f0;
}

.text-area-styling {
  height: 100px;
  width: 90%;
  resize: none;
  border-radius: 7px;
  border: solid 1px #e2e8f0;
}

.project-thumbnail {
  border: 1px solid #e2e8f0;
  width: 350px;
  height: 270px;
  box-sizing: border-box;
  border-radius: 7px;
}

textarea.summary {
  height: 340px;
}

.addStudentLabel{
  font-size: 14px;
}

.columns{
  padding-left: 60px;
}